/* ROOT */
:root {
    --color-goldish: #DBA21C;
    --color-darkBlue: #1C293D;
    --color-lightYellow: #FFEDCB;
    --color-lightBrown: #D19E71;

}

/* FONT*/
@font-face {
    font-family: "inter";
    src: url(./media/font/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "baloo-bold";
    src: url(./media/font/baloo/Baloo2-Bold.ttf);
}


/* GENERAL STYLING */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: "inter";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C293D;
}

#main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    /* padding: 20px; */
}

#main_container>div {
    width: 100%;
}

input {
    background-color: transparent;
}

.content_container {
    height: 70%;
    position: relative;
    overflow: hidden;
}

.countdown_container {
    display: none;
}

#selection_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 20px 20px 0 20px;
    left: 0vw;

    transition: left 1s;
}

.slide_conent_left {
    left: 100vw;
}

#selection_container div {
    width: 100%;
}

/* EGG SIZING */

#egg_size_selector_container {
    display: flex;
    justify-content: space-between;
    height: 25%;
}

.egg_size_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    font-size: 14px;
}

.egg_size {
    height: 80px;
    /* for testing purposes */
    width: 80px;
    /* for testing purposes */


    background-image: url(./media/egg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.egg_size:hover {
    background-image: url(./media/egg\ selected.png);
}

.egg_size.selected {
    background-image: url(./media/egg\ selected.png);
}




/* BOILED TYPE */

#egg_boild_type_container {
    height: 36%;
}

#egg_boild_type_container>#slider {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 55%);
    grid-template-columns: 25% 55% 55% 55% 55% 25%;
    height: 100%;
    width: 100%;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    overflow-y: hidden;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#egg_boild_type_container>#slider::-webkit-scrollbar {
    display: none;
}


.egg_container {
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

.egg_container .egg_image {
    height: 80%;

    background-image: url(./media/egg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.egg_container.selected>.egg_image {
    height: 90%;
    transition: ease-in-out;
    transition: 1s;
}

/* TEMP SELECTOR*/
#temp_selector_container {
    display: flex;
    justify-content: space-evenly;
}

.temp_selector {
    width: 40%;
    height: 55px;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid #9D9D9D;
}

.temp_selector.selected {
    border: 2px solid #ECA704;
}

.temp_selector:hover {
    border: 2px solid #ECA704;
}

/* TIMER*/
#timer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
}

#timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer input {
    border: none;
    width: 72px;
    height: 60px;
    font-size: 56px;
    background-color: transparent;
    text-align: center;
}

#timer input:focus {
    border: none;
    outline: none;
}

#timer>#semi_colon {
    font-size: 56px;
}

#start_button {
    display: flex;
    align-items: center;
    margin-top: 40px;
    background-color: var(--color-darkBlue);
    border: 2px solid var(--color-goldish);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;

    & p {
        font-size: 9vw;
    }

    & .timer_icon {
        height: 9vw;
        width: 9vw;
        background-image: url("./media/timer_white_24dp.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &:hover {
        background-color: var(--color-goldish);
    }
}